.bash_history
.env
.gitconfig
.cache/
.dotnet/
.ssh/
.local/
.pytest_cache/
.vscode*
.wget-hsts
.__pycache__/
__pycache__
venv/
.vim*
webapp.sock
urls.json
urls.db
.profile
.bashrc
.bash*
.sqlite_history
