Flask==3.0.0
Flask-Migrate==4.0.5
Flask-RESTful==0.3.9
Flask-SQLAlchemy==3.1.1
Flask-Testing==0.8.1
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
Markdown==3.3.6
MarkupSafe==2.1.1
pipreqs==0.4.11
Pygments==2.11.2
PyGObject==3.42.1
PyHamcrest==2.0.2
pyinotify==0.9.6
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyparted==3.11.7
pyrsistent==0.18.1
pyserial==3.5
pytest==7.4.3
python-apt==2.4.0+ubuntu2
python-debian==0.1.43+ubuntu1.1
python-decouple==3.8
python-dotenv==1.0.0
python-magic==0.4.24
pytz==2022.1
PyYAML==5.4.1
requests==2.25.1
SQLAlchemy==2.0.23
ssh-import-id==5.11
